.button {
  display: flex;
  width: 175px !important;
  margin-left: 14px;

  transition: 0.3s ease;

  margin-bottom: 15px;
  margin-top: 15px;
  &:hover {
    filter: brightness(75%);
  }
}
